{% load static from staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

        <title>Велосипедные запчасти</title>
    </head>
    <body>
        <nav class="navbar navbar-default" style="background-color: #F2F2F2;">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: #6b6b6b;">Велозапчасти</a>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                          <input type="text" class="form-control" placeholder="Поиск">
                    </div>
                    <button type="submit" class="btn btn-default">Найти</button>
                </form>
            </div>
        </nav>
        <div class="container" style="max-width: 600px;">
        {% for part in bike_parts %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ part.name }} <span style="color: #afafaf;">{{ part.brand.name }}</span><span style="float: right; color: #6b6b6b;">{{ part.price }} руб.</span></h3>
                    <hr>
                    <p>Контакты: {{ part.contacts }}</p>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if bike_parts.has_previous %}
                    <a href="?page={{ bike_parts.previous_page_number }}">Сюда</a>
                {% endif %}

                <span class="current">
                    {{ bike_parts.number }} из {{ bike_parts.paginator.num_pages }}.
                </span>

                {% if bike_parts.has_next %}
                    <a href="?page={{ bike_parts.next_page_number }}">Туда</a>
                {% endif %}
            </span>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
    </body>
</html>
