{% include "base.html" with current_page="main" %}
{% load get_range %}

    {% block content %}
        <div class="container" style="max-width: 600px;">
        {% if not bike_parts %}
            <div class="text-center">
                <p>Список объявлений пуст</p>
            </div>
        {% endif %}
        {% for part in bike_parts %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="b-title b-header">{{ part.name }}</div>
                    <div class="b-brand b-header">{{ part.brand.name }}</div>
                    <div class="b-price b-header">{{ part.price }} руб.</div>
                    <div style="clear: both;"></div>
                    <div class="b-contacts">
                        <hr />
                        Контакты: {{ part.contacts }}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        {% if bike_parts.paginator.num_pages > 1 %}
            <nav class="text-center">
                <ul class="pagination">
                    {% for num in bike_parts.paginator.num_pages|get_range %}
                        {% if num == bike_parts.number %}
                            <li class="active"><a href="">{{ num }}</a></li>
                        {% else %}
                            <li><a href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}

    {% endblock %}
